<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CourseScraper.Properties.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CourseScraper.Properties.MySettings>
            <setting name="CHROME_DRIVER_DIRECTORY" serializeAs="String">
                <value>F:\Projects\AspNet\ConsoleApps\CourseScraper\bin\x64\Release</value>
            </setting>
            <setting name="FILE_DIRECTORY" serializeAs="String">
                <value>F:\Projects\AspNet\ConsoleApps\CourseScraper\bin\x64\Release\Files</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Data Source=csuncoursesdb_high;User Id=ADMIN;Password=Password123!</value>
            </setting>
            <setting name="CONTENT_FRAME" serializeAs="String">
                <value>ptifrmtgtframe</value>
            </setting>
            <setting name="SUBJECT_DDL" serializeAs="String">
                <value>NR_SSS_SOC_NWRK_SUBJECT</value>
            </setting>
            <setting name="COURSE_ID" serializeAs="String">
                <value>SOC_DETAIL$</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://mynorthridge.csun.edu/psp/PANRPRD/EMPLOYEE/SA/c/NR_SSS_COMMON_MENU.NR_SSS_SOC_BASIC_C.GBL?</value>
            </setting>
            <setting name="PROCESSING_WHEEL" serializeAs="String">
                <value>processing</value>
            </setting>
            <setting name="TBL_PREFIX" serializeAs="String">
                <value>tbl</value>
            </setting>
            <setting name="SEARCH_BTN" serializeAs="String">
                <value>NR_SSS_SOC_NWRK_BASIC_SEARCH_PB</value>
            </setting>
            <setting name="COURSE_OFFERED_ID" serializeAs="String">
                <value>PSCENTER</value>
            </setting>
            <setting name="SECTION_ID" serializeAs="String">
                <value>NR_SSS_SOC_NWRK_DESCR15$</value>
            </setting>
            <setting name="COURSE_NUM_ID" serializeAs="String">
                <value>win0divNR_SSS_SOC_NSEC_CLASS_NBR$</value>
            </setting>
            <setting name="COURSE_LOC_ID" serializeAs="String">
                <value>win0divMAP$</value>
            </setting>
            <setting name="COURSE_DAY_ID" serializeAs="String">
                <value>win0divNR_SSS_SOC_NWRK_DESCR20$</value>
            </setting>
            <setting name="COURSE_TIME_ID" serializeAs="String">
                <value>win0divNR_SSS_SOC_NSEC_DESCR25_2$</value>
            </setting>
            <setting name="COURSE_INSTR_ID" serializeAs="String">
                <value>win0divFACURL$</value>
            </setting>
            <setting name="COURSE_DESCR_ID" serializeAs="String">
                <value>NR_SSS_SOC_NWRK_DESCR100_2$</value>
            </setting>
            <setting name="DOMS_DIRECTORY" serializeAs="String">
                <value>F:\Projects\AspNet\ConsoleApps\CourseScraper\bin\x64\Release\Files\DOMS</value>
            </setting>
            <setting name="TABLE_SUBJECT" serializeAs="String">
                <value>tblSubj</value>
            </setting>
            <setting name="TERM_DDL" serializeAs="String">
                <value>NR_SSS_SOC_NWRK_STRM</value>
            </setting>
            <setting name="TERM" serializeAs="String">
                <value>2203 - Spring Semester 2020</value>
            </setting>
        </CourseScraper.Properties.MySettings>
    </applicationSettings>
</configuration>